
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewStudent</title>
</head>
<body>
    <h1> Data added successfully. </h1>
</body>
</html>
